.info-box-link{
    text-decoration: none;
    color: #000;
}

.info-box-link:hover{
    color: #696969;
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid rgb(0, 166, 90);
}

fieldset legend {
    font-size: 13pt;
    font-weight: bold;
}

legend {
    color: #00a65a;
    width: auto;
    border-bottom: 0px;
    padding: 0px 15px 0px 15px;
    margin-bottom: 0px;
    font-size: 15px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 700;
    color: #85888d;
    background-color: transparent;
    border: 1px dashed #85888d;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #00944f;
    color: #fff;
    border: 1px solid #00944f;
}

.inputfile + label {
	cursor: pointer; 
}

.inputfile:focus + label {
    outline: 0;
    outline: 1px solid rgba(1, 170, 86, 0.6);
}
.inputfile + label i {
    padding-right: 5px;
}

.img-preview{
    width: 100%;
    height: auto;
    position: relative;
}

.img-preview img{
    width: 30%;
    max-height: 370px;
}

.btn-resposive-input-group{
    margin-top: 16%;
    width: 100%;
}

@media (max-width: 768px) {
    .btn-resposive-input-group{
        margin-top: 5%;
        width:auto;
    }   
}

textarea {
    resize : none;
}

.list-details li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
    font-size: 1em;
}
